
.navitem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  list-style: none;
 
}
.navitem ul{
  text-decoration: none;
}
.sousitems{position:relative;
}
.sousitems{
  position: absolute;
  display: none;
  background-color: gainsboro;
  padding: 2px;
  flex-direction: column;
  list-style: none;

}
.title:hover .sousitems{
  display: flex;
}
